* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background: cornflowerblue;
}

.navbar h2 {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 1.5rem;
  background: #f1f1f1;
  width: 60%;
  border-radius: 8px;
}

.container h3 {
  font-size: 2rem;
}

.search-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.search-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 0.2px solid rgb(183, 183, 184);
  border-radius: 5px;
}

.limit {
  display: flex;
  width: 100%;
}

.limit h5 {
  font-size: 1.4rem;
  margin-right: 1rem;
  justify-content: flex-start;
}

.limit .select {
  width: 100%;
  border: none;
  outline: none;
  border: 0.2px solid rgb(183, 183, 184);
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
